html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre code {
  word-break: break-all !important;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #2d88e2;
    --secondary: #5e17eb;
    --text: white;
  }
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
